---
import ListOfServices from "../components/ListOfServices.astro";
import MainSection from "../components/MainSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="Desarrollo de Sistemas Integrados"
	description="DSI - Desarrollo de Sistemas Integrados ofrece servicios profesionales de Seguridad Industrial, Salud en el Trabajo, y Certificaciones en Bioseguridad. Nuestros servicios incluyen protocolos de Bioseguridad, simulacros COVID-19, programas de seguridad NTS 009, capacitaciones en bioseguridad y evacuación, monitoreos ocupacionales, y más. Nuestro objetivo es garantizar la satisfacción de nuestros clientes y ser líderes en el ámbito industrial y servicios en la región. Visítanos próximamente en nuestra nueva URL del sitio web."
	keywords="DSI, Desarrollo de Sistemas Integrados, Seguridad Industrial, Salud en el Trabajo, Certificaciones, Bioseguridad, Protocolos, Monitoreos Ocupacionales, Sistemas de Gestión, ISO 45001, ISO 14001, ISO 9001, ISO 22000, Informes Ambientales, Manifiestos Ambientales, Planes de Producción, Planes de Marketing, Análisis de Mercado"
	author="Desarrollo de Sistemas Integrados (DSI)"
>
	<main class="main">
		<MainSection />
		<ListOfServices />
	</main>
</Layout>
<style></style>
