---
const { color = "primary", hoverColor = "button" } = Astro.props;

const textColor = `var(--${color})`;
const hoverBtnColor = `var(--${hoverColor})`;
---

<a href="#" class="btn">
  <i class="icon fa-solid fa-arrow-right"></i>
  <slot />
</a>

<style define:vars={{ textColor, hoverBtnColor }}>
  .btn {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;

    --color: var(--textColor);
    --btnColor: var(--hoverBtnColor);

    color: var(--color);

    font-size: 2rem;
    padding: 1rem 5rem;
    border: 1px solid var(--btnColor);
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: var(--btnColor);
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 300ms;
  }

  .btn:hover::before {
    width: 100%;
  }

  .icon {
    font-size: 1.2rem;
  }

  .btn:hover .icon {
    animation: arrowMove 300ms ease-in-out;
  }

  @keyframes arrowMove {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
</style>
