---
import ServiceItem from "./ServiceItem.astro";
import { services } from "../data/services";
---

<section class="services">
    {
        services.map(({ id, title, img }) => {
            return <ServiceItem id={id} title={title} img={img} />;
        })
    }
</section>
<style>
    .services {
        display: grid;
        grid-template-columns: 1fr;
    }

    @media (min-width: 768px) {
        .services {
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
