---
import ProjectsList from "./ProjectsList.astro";
import Button from "./Button.astro";
---

<section class="projects">
  <div class="projects__description">
    <h2 class="projects__description--title">
      Estamos orgullosos de nuestras exigentes certificaciones
    </h2>
    <p class="projects__description--paragraph">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil minus
      aperiam labore nemo, et dolore odit iste architecto blanditiis saepe, quia
      voluptas eos dolorem hic corporis consequatur dolorum, placeat nesciunt.
    </p>
    <Button color="primary">Entérate de más</Button>
  </div>
  <div class="projects__list">
    <ProjectsList />
  </div>
</section>

<style>
  .projects {
    color: var(--primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 420px) {
    .projects {
      height: 100vh;
      flex-direction: row;
    }
  }

  .projects__description {
    width: 100%;
    padding: 3rem 7.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3rem;
  }

  @media (min-width: 420px) {
    .projects__description {
      flex: 1;
      width: 100%;
      gap: 5rem;
      padding: 0 5%;
    }
  }

  .projects__description--title {
    margin: 0;
    font-size: 3rem;
  }

  @media (min-width: 420px) {
    .projects__description--title {
      font-size: 4rem;
    }
  }

  .projects__description--paragraph {
    opacity: 0.7;
    margin: 0;
    font-size: 2rem;
  }

  .projects__list {
    background-color: var(--primary);
    max-height: 100%;
    width: 100%;
    padding: 2rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  @media (min-width: 420px) {
    .projects__list {
      padding: 3rem;
    }
  }

  .projects__list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.7)
    );
  }

  .projects__list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25%;
    width: 100%;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.7)
    );
  }
</style>
